# 数据集
/data/

# 虚拟环境
/.venv/

# IDE 配置
.idea/

# 模型权重
*.pt

# Python 缓存
__pycache__/
*.pyc

# Jupyter测试文件
*.ipynb

# Jupyter 检查点（自动生成）
.ipynb_checkpoints/

# BPE模型与数据
*.txt
*.model
*.vocab

# 代码测试
code_test.py

# 输出
output/